Repository lawrencegripper/ion, pull requests merged in 2018-04, with the labels that each got.

#30 Add support for passing Environment Variables to module #26
  .travis.yml
  dispatcher/.vscode/settings.json
  dispatcher/Gopkg.lock
  dispatcher/Gopkg.toml
  dispatcher/providers/args.go
  dispatcher/providers/args_test.go
  dispatcher/providers/kubernetes.go
  dispatcher/providers/kubernetes_test.go
  dispatcher/providers/testdata/example.env
  dispatcher/providers/testdata/invalid.env
  dispatcher/types/configuration.go
  dispatcher/vendor/github.com/Azure/go-autorest/autorest/client.go
  dispatcher/vendor/github.com/joho/godotenv/.gitignore
  dispatcher/vendor/github.com/joho/godotenv/.travis.yml
  dispatcher/vendor/github.com/joho/godotenv/LICENCE
  dispatcher/vendor/github.com/joho/godotenv/README.md
  dispatcher/vendor/github.com/joho/godotenv/godotenv.go
  sidecar/.vscode/settings.json
Labels: enhancement

#34 [WIP] Changes to move the sidecar from an API model to FS based
  ci.Dockerfile
  common/event.go
  dispatcher/messaging/event.go
  dispatcher/messaging/message.go
  dispatcher/providers/args.go
  dispatcher/providers/kubernetes_test.go
  modules/example/src/example.py
  sidecar/Gopkg.lock
  sidecar/Gopkg.toml
  sidecar/README.MD
  sidecar/app/app.go
  sidecar/app/config.go
  sidecar/app/helpers.go
  sidecar/app/middleware.go
  sidecar/app/tests/app_test.go
  sidecar/blob/azurestorage/azurestorage.go
  sidecar/blob/azurestorage/azurestorageproxy.go
  sidecar/blob/filesystem/filesystem.go
  sidecar/events/mock/mock.go
  sidecar/events/servicebus/servicebus.go
  sidecar/main.go
  sidecar/meta/inmemory/inmemory.go
  sidecar/meta/mongodb/mongodb.go
  sidecar/tests/azure_intergration_test.go
  sidecar/types/constants.go
  sidecar/types/types.go
  sidecar/vendor/github.com/twinj/uuid/.travis.yml
  sidecar/vendor/github.com/twinj/uuid/LICENSE
  sidecar/vendor/github.com/twinj/uuid/README.md
  sidecar/vendor/github.com/twinj/uuid/appveyor.yml
  sidecar/vendor/github.com/twinj/uuid/format.go
  sidecar/vendor/github.com/twinj/uuid/generator.go
  sidecar/vendor/github.com/twinj/uuid/saver.go
  sidecar/vendor/github.com/twinj/uuid/timestamp.go
  sidecar/vendor/github.com/twinj/uuid/types.go
  sidecar/vendor/github.com/twinj/uuid/uuid.go
  sidecar/vendor/github.com/twinj/uuid/version.go
  sidecar/vendor/github.com/vulcand/oxy/testutils/utils.go
  tools/servicebus-subscriber/main.go
Labels: enhancement

#49 Fixed sidecar example module paths
  modules/example/src/example.py
Labels: sidecar

#62 Fixes for End-2-end integrating sidecar and dispatcher
  .gitignore
  dispatcher/main.go
  dispatcher/messaging/message.go
  dispatcher/providers/args.go
  dispatcher/providers/kubernetes.go
  dispatcher/servicebus/listener.go
  dispatcher/types/configuration.go
Labels: bug, dispatcher

#65 Refactored integration test
  common/event.go
  dispatcher/providers/args.go
  modules/example/src/example.py
  sidecar/.vscode/settings.json
  sidecar/Gopkg.lock
  sidecar/Gopkg.toml
  sidecar/app/app.go
  sidecar/app/config.go
  sidecar/app/middleware.go
  sidecar/app/tests/app_test.go
  sidecar/app/tests/testdata/out/data/file1.txt
  sidecar/app/tests/testdata/out/data/file2.txt
  sidecar/app/tests/testdata/out/data/file3.txt
  sidecar/app/tests/testdata/out/data/file4.txt
  sidecar/app/tests/testdata/out/events/event0.json
  sidecar/blob/azurestorage/azurestorage.go
  sidecar/blob/filesystem/filesystem.go
  sidecar/events/mock/mock.go
  sidecar/events/servicebus/servicebus.go
  sidecar/integration/azure_intergration_test.go
  sidecar/main.go
  sidecar/meta/inmemory/inmemory.go
  sidecar/meta/mongodb/mongodb.go
  sidecar/tests/azure_intergration_test.go
  sidecar/types/constants.go
  sidecar/types/helpers.go
  sidecar/types/tests/helpers_test.go
  sidecar/types/types.go
  sidecar/vendor/github.com/gorilla/websocket/.travis.yml
  sidecar/vendor/github.com/gorilla/websocket/AUTHORS
  sidecar/vendor/github.com/gorilla/websocket/LICENSE
  sidecar/vendor/github.com/gorilla/websocket/README.md
  sidecar/vendor/github.com/gorilla/websocket/client.go
  sidecar/vendor/github.com/gorilla/websocket/client_clone.go
  sidecar/vendor/github.com/gorilla/websocket/client_clone_legacy.go
  sidecar/vendor/github.com/gorilla/websocket/compression.go
  sidecar/vendor/github.com/gorilla/websocket/conn.go
  sidecar/vendor/github.com/gorilla/websocket/conn_read.go
  sidecar/vendor/github.com/gorilla/websocket/conn_read_legacy.go
  sidecar/vendor/github.com/gorilla/websocket/doc.go
  sidecar/vendor/github.com/gorilla/websocket/json.go
  sidecar/vendor/github.com/gorilla/websocket/mask.go
  sidecar/vendor/github.com/gorilla/websocket/mask_safe.go
  sidecar/vendor/github.com/gorilla/websocket/prepared.go
  sidecar/vendor/github.com/gorilla/websocket/server.go
  sidecar/vendor/github.com/gorilla/websocket/util.go
  sidecar/vendor/github.com/vulcand/oxy/LICENSE
  sidecar/vendor/github.com/vulcand/oxy/forward/fwd.go
  sidecar/vendor/github.com/vulcand/oxy/forward/headers.go
  sidecar/vendor/github.com/vulcand/oxy/forward/rewrite.go
  sidecar/vendor/github.com/vulcand/oxy/utils/auth.go
  sidecar/vendor/github.com/vulcand/oxy/utils/dumpreq.go
  sidecar/vendor/github.com/vulcand/oxy/utils/handler.go
  sidecar/vendor/github.com/vulcand/oxy/utils/netutils.go
  sidecar/vendor/github.com/vulcand/oxy/utils/source.go
  sidecar/vendor/golang.org/x/sys/unix/.gitignore
  tools/delete-k8-jobs.ps1
  tools/delete-k8-jobs.sh
Labels: enhancement, sidecar

#76 Updated example module to use a library
  modules/example/src/example.py
  modules/example/src/lib/__init__.py
  modules/example/src/lib/__pycache__/__init__.cpython-35.pyc
  modules/example/src/lib/__pycache__/sidecar.cpython-35.pyc
  modules/example/src/lib/sidecar.py
Labels: sidecar

#77 [WIP] Docs Update
  README.md
  dispatcher/README.md
  docs/dispatcher.png
  docs/ion-module.png
  docs/ion-toplevel-1.png
  docs/ion-toplevel-2.png
  modules/README.md
  sidecar/README.MD
  sidecar/README.md
Labels: docs, enhancement
